# Python
__pycache__/
*.pyc
.env

# Data
data/bharatfakenewskosh (3).xlsx.zip
data/IFND.csv.zip
data/news_dataset.csv.zip
data/bharatfakenewskosh.csv
data/IFND.csv
data/news_dataset.csv
!data/sample/
preprocessing/processed_data
# Models
app/models/**
!app/models/lora/**
model/evaluation/results

# Logs & outputs
outputs/
logs/
checkpoints/

# Node
node_modules/

# OS
.DS_Store

app/config.py